@font-face {
    font-family: 'earth_orbiterregular';
    src: url('fonts/earthorbiter-webfont.woff2') format('woff2'),
         url('fonts/earthorbiter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body  {
	background-color: white;
	font-family: 'Montserrat', sans-serif;	
}
header { 
	background-color: black;

}	
.checked{
	color: orange;
}
.content span{ 
	width: 12px;
	display: inline-block;
	margin: 0 auto;
} 

.nav {
	font-family: 'Titillium Web';
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	border: 2px solid red;
	padding-bottom: 25px;
}
.nav * {
	box-sizing: border-box;
	transition: all .35s ease;
}
.nav li {
	display: inline-block;
	list-style: outside none none;
	margin: .5em 1em;
	padding: 0;
	margin-top: 3%;
}

.nav a {
	padding: .5em .8em;
	color: rgba(255,255,255,.7);
	position: relative;
	text-decoration: none;
	font-size: 17px;

}

.nav a::before,
.nav a::after {
	content: '';
	height: 14px;
	width: 14px;
	position: absolute;
	transition: all .35s ease;
	opacity: 0;
}

.nav a::before {
	content: '';
	right: 0;
	top: 0;
	border-top: 3px solid gray;
	border-right: 3px solid white;
	transform: translate(-100%, 50%);
}

.nav a:after {
	content: '';
	left: 0;
	bottom: 0;
	border-bottom: 3px solid gray;
	border-left: 3px solid white;
	transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
	transform: translate(0,0);
	opacity: 1;
}

.nav a:hover {
	color: #B22222;
}
.nav a.active {
	color: #B22222;
}
.logo { 
	position: absolute;
	width: 16%;
	margin-top: 1.5%;
	margin-bottom: 1%;
	margin-left: 7%;
}

* {
	box-sizing: border-box;
}

/* Center website */
.main {
	max-width: 1000px;
	margin: auto;
}

h1 {
	font-size: 40px;
	word-break: break-all;
	margin-left: 20px;
}

h3 { 
	font-weight: bold;
	text-align: center; 
}

.row {
	margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
	padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
	float: right;
	width: 25%;
}

/* Clear floats after rows */ 
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 5px;
	text-align: center;
}
.content p { 
	text-align: center;
	font-size: 15px; 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}